.container {
  display: flex;
  gap: 5px;
  width: max-content;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
  }
}

.wrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  height: 3px;
  width: 9px;
  position: absolute;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  animation: blink forwards 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.1;
  }
}
